@import "__viewport.scss";
.container{
    margin: auto;
    @include mq('phablet',max){
        width: 90%;
    }
    @include mq('tablet-wide',max){
        width: 540px;
    }
    @include mq('tablet-wide', max){
        width: 720px;
    }
    @include mq('tablet-wide', min){
        width: 960px;
    }
    @include mq('desktop',min){
        width: 1090px;
    }
    @include mq('desktop-wide',min){
        width: 1260px;
    }
}