@import "__vars";
@import "__fonts";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Futura';
    line-height: 1.3em;
    letter-spacing: 1.4px;
    margin-top: 0.8em;
    margin-bottom: 0.4em;

    &:first-child {
        margin-top: 0;
    }
}

@mixin h1 {
    font-size: 90px;
    font-weight: bold;
    //margin-top: 0.8em;
    margin-bottom: 50px;
    line-height: 1.08em;
    color: $black;

    //@include tablet {
    @media (max-width: 1400px) {
        font-size: 90px;
    }

  

    &.h1--light {
        font-size: 80px;
        font-weight: normal;

       
    }
}

@mixin h2 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.9px;
    color:$white;

  
}

@mixin h3 {
    font-size: 40px;
    letter-spacing: 0.8px;

    
}

@mixin h4 {
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: bold;
    letter-spacing: 0.7px;

    
}


h1, .h1 {
    @include h1;
}

h2, .h2 {
    @include h2;
}

h3, .h3 {
    @include h3;
}

h4, .h4 {
    @include h4;
}

h5, .h5 {
    @include h4;
}

h6, .h6 {
    @include h4;
}