@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";
.header{
    background-color: $black;
    padding: 10px 100px 33px 100px;
    display: flex;
    align-items: flex-end;
    max-height: 76px; 
/*    @include desktop {
        padding: 10px 50px 33px 50px;
    }*/
}

.logo{
    width: 18%;
    margin-right: 3%;
}

.main-menu-wrapper{
    width: 50%;
    font-family: $font-basic;
/*    @include desktop-lg{
        width: 43%;
    }*/
}

.header-description{
    color:$white;
    margin-bottom: 43px;
    font-size: 0.875em;
/*    @include desktop-lg{
        font-size: 1em;
    }*/
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.main-menu__item{
    font-size: 0.875em;
}

.main-menu__item a{
    color: $white;
    font-weight: bold;
    text-decoration: none;
}

.header-phones-cta{
    text-align: right;
    width: 29%;
    position: relative;
    top: 14px;
/*    @include desktop-lg{
        margin-left: 18%;
        width: 20%;   
    }*/
}

.header-phone{
    margin-bottom: 21px;
}

.header-phone__item{
    font-size: 1em;
    color: $white;
    font-weight: bold;
}

.header-phone__item_first{
    padding-right: 20px;
}