@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_medium.eot");
  src: url("../fonts/futura/futura_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_medium.woff2") format("woff2"), url("../fonts/futura/futura_medium.woff") format("woff"), url("../fonts/futura/futura_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_bold.eot");
  src: url("../fonts/futura/futura_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_bold.woff2") format("woff2"), url("../fonts/futura/futura_bold.woff") format("woff"), url("../fonts/futura/futura_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Futura';
  line-height: 1.3em;
  letter-spacing: 1.4px;
  margin-top: 0.8em;
  margin-bottom: 0.4em; }
  h1:first-child, .h1:first-child,
  h2:first-child, .h2:first-child,
  h3:first-child, .h3:first-child,
  h4:first-child, .h4:first-child,
  h5:first-child, .h5:first-child,
  h6:first-child, .h6:first-child {
    margin-top: 0; }

h1, .h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 1.08em;
  color: #231f20; }
  @media (max-width: 1400px) {
    h1, .h1 {
      font-size: 90px; } }
  h1.h1--light, .h1.h1--light {
    font-size: 80px;
    font-weight: normal; }

h2, .h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #fff; }

h3, .h3 {
  font-size: 40px;
  letter-spacing: 0.8px; }

h4, .h4 {
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: bold;
  letter-spacing: 0.7px; }

h5, .h5 {
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: bold;
  letter-spacing: 0.7px; }

h6, .h6 {
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: bold;
  letter-spacing: 0.7px; }

.swiper-container {
  width: 100%;
  height: 500px; }

.swiper-inner:before {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 20; }

.swiper-inner {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.pagination__button-next, .pagination__button-prev {
  position: absolute;
  top: 50%;
  margin-top: -22px; }

.pagination__button-prev {
  left: 50px;
  right: auto; }

.pagination__button-next {
  right: 50px;
  left: auto; }

.slide-content {
  padding-top: 144px;
  position: relative;
  z-index: 50; }

.slide-text {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px; }
