@import "__viewport.scss";

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

.no-scroll{
    overflow-y: hidden;
}

.img-responsive{
    display: block;
    max-width: 100%;
}

.black-bg{
    background-color: $black;
}

.black-bg .text{
    color: $white;
}

.red-bg{
    background-color: $red;
}

.red-bg .text{
    color: $white;
}

.red-bg h1, .red-bg h2, .red-bg h3, .red-bg h4, .red-bg h5, .red-bg h6{
    color: $white
}