@import "__viewport.scss";

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

.no-scroll{
    overflow-y: hidden;
}

.img-responsive{
    display: block;
    width: 100%;
    max-width: 100%;
}

.black-bg{
    background-color: $black;
}

.black-bg .text{
    color: $white;
}

.red-bg{
    background-color: $red;
}

.red-bg .text{
    color: $white;
}