@import "__viewport.scss";
@import "__vars.scss";
.container{
    margin: auto;
    @include mq('tablet-wide', min){
        width: 960px;
    }
    @include mq('desktop',min){
        width: 1090px;
    }
    @include mq('desktop-wide',min){
        width: 1260px;
    }
    @include mq('tablet-wide', max){
        width: 720px;
    }
    @include mq('tablet-wide',max){
        width: 540px;
    }
    @include mq('phablet',max){
        width: 90%;
    }
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-xs-12{
    width: 100%;
}

.col-md-6{
   @include mq('tablet-wide', max-1){
        flex: 0 0 100%;
    }
    @include mq('tablet-wide', min){
        flex: 0 0 48%;
    } 
}

.col-lg-6{
    @include mq('desktop', max){
        flex: 0 0 100%;
    }
    @include mq('desktop', min){
        flex: 0 0 48%;
    }
}

.col-lg-6--45percent{
    @include mq('desktop', min){
        flex: 0 0 45%;
    }
}

.col-lg-6:nth-child(even){
    @include mq('desktop', min){
    }
}