@import "__viewport.scss";
@import "__vars.scss";
@import "__fonts.scss";

p,span,a,button,{
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
}

strong{
    font-weight:bold;
}

p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    @include mq('tablet-wide',max){
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.4;
    }
}

label{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
}

.text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    @include mq('tablet-wide',max){
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.4;
    }
}

.text--red{
    color: $red;
}

.text--white{
    color: $white;
}

.text--l{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    @include mq('tablet-wide', max){
        font-size: 15px;
        line-height: 23px;
        letter-spacing: 0.4px;
    }

}

.text--s{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    @include mq('tablet-wide',max){
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
    }
}

ul{
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

.margined-block ul{
    list-style: none;
    margin-top: 25px;
    line-height: 25px;
    @include mq('tablet-wide', min){
        padding-left: 35px;
        margin-top: 35px;
        line-height: 28px;
    }
}

.margined-block ul li{
    display: flex;
    font-size: 14px;
    margin-bottom: 12px;
    @include mq('tablet-wide', min){
        font-size: 18px;
        margin-bottom: 23px;
    }
}

.margined-block ul li::before{
    content: '';
    width: 7px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    flex: 0 0 2%;
    background-image: url(../svg/icon_arrow_right_small.svg);
    margin-right: 19px;
    position: relative;
    top: 8px;
}

.margined-block ol{
    line-height: 28px;
    padding-left: 35px;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    counter-reset: li;
    li {
        display: flex;
        font-size: 14px;
        margin-bottom: 12px;
        @include mq('tablet-wide', min){
            font-size: 18px;
            margin-bottom: 23px;
        }
        &::before {
            margin-right: 19px;
            position: relative;
            font-size: 14px;
            top:2px;
            color:$red;
            display: inline-block;
            background-repeat: no-repeat;
            flex: 0 0 2%;
            content: counter(li,decimal-leading-zero);
            counter-increment: li;
        }
    }
}