$black: #231f20;
$white: #fff;
$red: #f22c2c;
$light-grey: #e1e2e6;
$dark-grey:#999999;
$yellow:#fecd08;
$redhover:#d61f1f;
$header-height: 120px;
$header-height-mobile: 65px;
$header-height-fixed: 80px;
$header-bg: $black;