@import "__vars.scss";
@import "__fonts.scss";

.button{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    letter-spacing: .03rem;
    text-decoration: none;
    outline: none;
    border:none;
    color: $white;
    cursor: pointer;
    transition: 0.5s ease all;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.button_rectangle{
    padding: 17px 39px;
    @include mq('desktop',max){
        padding: 17px 25px;
        font-size: 11px;
    }
}

.button_square{
    width: 60px;
    height: 60px;
    z-index: 10;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    @include mq('tablet-wide',max){
        width: 40px;
        height: 40px;  
    }
}

.button_square-lg{
    width: 80px;
    height: 80px;
}

.button_red{
    background: $red;
}

.button_red:hover{
    background: $redhover;
}

.button_black{
    background: $black;
}

.button_black:hover{
    background: $red;
}
