@import "__vars.scss";
@import "__viewport.scss";

.breadcrumbs__item{
    color:$white;
    font-weight: bold;
}

.breadcrumbs{
    overflow-x: hidden;
    @include mq('tablet-wide', min){
        padding: 0px 0px 50px 0px;  
    }
}

.breadcrumbs__inner{
    width: 100%;
    position: relative;
    z-index: 250;
    padding: 28px;
    @include mq('tablet-wide', max){
        padding: 23px 21px;
    }
}

.breadcrumbs__inner .container{
    @include mq('tablet-wide',max){
        margin: 0px;
    }
}



.breadcrumbs__inner a{
    color:$white;
    display: flex;
    text-decoration: none;
}

.breadcrumbs__inner::after{
    @include mq('tablet-wide',min){
        content: '';
        position: absolute;
        top: 0px;
        right: -75%;
        width: 100%;
        background-color: #fff;
        z-index: 500;
        height: 88px;   
    }
}