@import "__viewport.scss";
@import "__vars.scss";
@import "__fonts.scss";

.category-title{
    overflow-x: hidden;
    margin-bottom: 8vh;
    @include mq('tablet-wide',min){
        margin-bottom: 80px;
    }
}

.category-title__inner{
    width: 100%;
   
    @include mq('tablet-wide',max){
        padding: 103px 0px 43px;
    }
    @include mq('tablet-wide',min){
        height: 35vh;
        max-height: 320px;
        position: relative;
        display: flex;
        padding-top: 10vh;
        min-height: 200px;
    }
}

.category-title__inner::after{
    @include mq('tablet-wide',min){
    content: '';
    position: absolute;
    top: 0px;
    right: -75%;
    width: 100%;
    background-color: #fff;
    height: 100%;
    z-index: 1;   
    }
}

.category-title h1{
    @include mq('tablet-wide',min){
     width: 75%;   
    }
}