@import "__viewport.scss";
@import "__vars.scss";
@import "__fonts.scss";

.category-title{
    overflow-x: hidden;
    margin-bottom: 80px;
}

.category-title__inner{
    width: 100%;
    @include mq('tablet-wide',min){
        padding: 212px 51px 78px;
        position: relative;
    }
}

.category-title__inner::after{
    @include mq('tablet-wide',min){
    content: '';
    position: absolute;
    top: 0px;
    right: -75%;
    width: 100%;
    background-color: #fff;
    height: 100%;
    z-index: 1;   
    }
}

.category-title h1{
    @include mq('tablet-wide',min){
     width: 75%;   
    }
}