@import "__viewport.scss";
@import "__vars.scss";

.contacts a{
    color: $black;
    text-decoration: none;
    padding-bottom: 2px;
}

.contacts a:hover{
    color: $black;
    border-bottom: 2px solid #231f20;
}