@import "__vars";
@import "__viewport.scss";

.fixture-item{
    border: solid 2px #e6e6e6;
    padding: 5px 0px;
    margin-bottom: 15px;
    cursor:pointer;
    transition: 0.2s ease all;
    min-height: 52px;
}

.fixture-item a{
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    min-height: 52px;
    @include mq('tablet-wide', max){
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &:hover{
        color: inherit;
    }
}

.fixture-list__description-outer{
    flex: 0 0 60%;
    text-align: left;
    display: flex;
    align-items: center;
}

.fixture-item__bullet{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 200px;
    border:none;
    background: $light-grey;
    flex: 0 0 20px;
    margin: 0px 19px;
    @include mq('tablet-wide', max){
        display: inline-block;
        vertical-align: middle;
    }
}

.fixture-item__description{
    display: inline-block;
    @include mq('tablet-wide',max){
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        max-width: 44%;
        min-width: 44%;

    }

}

.fixture-item__title{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    @include mq('tablet-wide', max){
        font-size: 14px;
        line-height: 18px;
    }
    @include mq('phone-wide', max){
        font-size: 10px;
        line-height: 14px;
    }
}

.fixture-item__title--for{
    color:$dark-grey;
    font-size: 16px;
    @include mq('tablet-wide', max){
        font-size: 14px;
        line-height: 18px;
    }
    @include mq('phone-wide', max){
        font-size: 10px;
        line-height: 14px;
    }
}

.fixture-item__img{
    display: block;
    flex: 0 0 30%;
    max-height: 40px;
    max-width: 125px;
    margin-right: 30px;
    @include mq('tablet-wide', max){
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        margin-right: 19px;
        flex: 0 0 30%;
        text-align: right;
        margin-right: 10px;
    }
}

.fixture-item__bullet--yellow{
    background-color: $yellow;
}

.fixture-item__bullet--orange{
    background-color: #ff9700;
}

.fixture-item__bullet--brown{
    background-color: #9e5323;
}

.fixture-item__bullet--grey{
    background-color: #999999;
}

.fixture-item__bullet--red{
    background-color: #f22c2c;
}

.fixture-item__bullet--blue{
    background-color: #0169a9;
}

.fixture-item__bullet--green{
    background-color: #008945
}

.fixture-item__bullet--aqua{
    background-color: #34acc4;
}