@import "__vars.scss";
@import "__viewport.scss";

footer{
    overflow-x: hidden;
    background: white;
    @include mq('tablet-wide',min){
        margin-top: 250px;
    }
}

footer .black-bg{
    @include mq('tablet-wide',min){
        margin-top: 50px;
    }
}

.footer-container{
    padding: 100px 0px 66px 0px;
    display: flex;
    @include mq('tablet-wide',max){
        flex-wrap: wrap;
        padding-top: 60px
    }
}

.footer-text__heading{
    font-family: 'Roboto', sans-serif;
    color:$dark-grey;
    font-size: 0.875rem;
    text-transform: uppercase;
    @include mq('tablet-wide', max){
        font-size: 10px;
        margin-bottom: 15px;
        line-height: 10px;
    }
}

.footer-text__paragraph{
    color:$white;
    font-size: 1rem;
    margin-bottom: 30px;
    letter-spacing: .03rem;
    @include mq('tablet-wide', max){
        font-size: 14px;
    }
}

.footer-text__paragraph span{
    display: block;
}

.footer-text__paragraph a{
    color:$white;
    text-decoration: none;
}

.footer-workhours{
    margin-top: 28px;
    color:$dark-grey;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    letter-spacing: 0.5px;
    @include mq('tablet-wide', max){
        margin-bottom: 65px;
    }
}

footer{
    position: relative;
}


.footer-proff-choice{
    padding: 8px 40px;
    color:$white;
    background: $black;
}

.footer-proff-choice--mobile{
    padding: 8px 0px 0px 0px;
}

.footer__text-block{
    flex: 0 0 20%;
    margin-right: 5%;
    max-height: 300px;
/*        flex: 0 0 23%;*/
    @include mq('tablet-wide',max){
        flex: 0 0 100%;
        margin-right: 0px;
    }
}


.footer__text-block--contacts{
    flex: 0 0 35%;
    @include mq('desktop',max){
        flex: 0 0 41%;
    }
    @include mq('tablet-wide',max){
        flex: 0 0 100%;
    }
}

.footer__text-block--empty{
    flex: 0 0 5%;
}

.footer__text-block:nth-child(4){
    margin-right: 0px;
}

.footer__text-block:nth-child(4){
    margin-right: 0px;
}

.footer__text-block_pinnedlogo{
    position: relative;
    display: table;
    width: 9000px;
    top: -150px;
    min-height: 400px;
    @include mq('tablet-wide',max){
        display:none;
    }
}

.footer-logo-red-inner{
    background: $red;
    padding: 40px;
    min-height: 360px;
}

.footer-logo-img{
    position: absolute;
    bottom: 50px;
    @include mq('desktop',max){
        max-width: 224px;
    }
}

.copyright{
    color: $white;
    padding-bottom: 66px;
    font-size: 0.875rem;
    @include mq('tablet-wide',max){
        font-size: 12px;
    }
}

.politics{
    padding-left: 30px;
    @include mq('tablet-wide', max){
        display: block;
        padding: 0px;
    }
}

.politics,.politics a{
    color:$dark-grey;
    text-decoration: none;
}

.devby{
    float:right;
    @include mq('tablet-wide', max){
        float:none;
        margin-top: 40px;
        display: block;
        font-size: 12px;
    }
}

.devby a{
    text-decoration: none;
    color:$white;
}

.devby-ico{
    padding-left: 8px;
}

.footer-mobile-logo{
    @include mq('tablet-wide', min){
        display: none;
    }
}

.footer-mobile-logo-img{
    width: 60%;
}

.footer-mobile-logo-red-inner{
    background: $red;
    padding: 190px 20px 20px 20px;
    @include mq('tablet-wide',max){
        padding: 190px 0px 20px 0px;
    }
}

