@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";

.header {  
 position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background: $header-bg;
  color: white;
  transition: .2s; 
  z-index: 8000;
  @include mq('tablet-wide',max){
      height: $header-height-mobile;
  }
}

.header--unpinned {
  height: $header-height-fixed;
    @include mq('tablet-wide',max){
      height: $header-height-mobile;
  }
}

.header__wrapper {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  @include mq('tablet-wide',max){
      padding: 0px 20px;
  }
}
.header__layout {
  display: flex;
  align-items: stretch;
  height: 100%;
  @include mq('tablet-wide',max){
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo-box {
  display: flex;
  align-items: center;
  background: $black;  
  width: 200px;
  flex-shrink: 0;
}
.header__logo {
  width: 100%;
  transform: translate3d(0,0,0); // лечит странный глюк с дерганьем лого
}
.header__bars {
  flex-basis: 100%;
  align-self: flex-end;
  height: $header-height;
  @include mq('tablet-wide', max){
      display: none;
  }
} 
.header__menu-bar {
  display: flex;
  width: 100%;
  height: $header-height-fixed;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding: 0 30px;
  width: 100%;
  flex: 0 0 79%;
}

.header__menu-items{ // для примера!
/*  background: #888;*/
  width: 100%;
  height: 15px;
}
.header__top-bar {
  margin-top: 15px;
  width: 100%;
}
.header__buttons {
//  flex-basis: fill;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-outer {
  height: $header-height;
  background: $header-bg;
}

.header-description,.header-description a{
    color:$white;
    margin-bottom: 43px;
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
}


.header-phones-cta{
    text-align: right;
    position: relative;
    transition: 0.5s ease all;
    top: 0px;
    flex: 1 0 27%;
    @include mq('desktop', max){
        flex: 1 0 18%;
    }
    @include mq('tablet-wide', max){
        display: none;
    }
}

.header__phone{
    margin-bottom: 7px;
    flex: 0 0 100%;
    text-align: right;
    transition: 0.3s ease all;
    @include mq('tablet-wide',max){
        display: none;
    }
}

.header-phones-cta .button{
    @include mq('tablet-wide',max){
        display: none;
    }
}

.header__phone-item{
    padding-left: 20px;
}

.header__phone-item, .header__phone-item a{
    font-size: 1em;
    color: $white;
    font-weight: bold;
    text-decoration: none;
}

.header__phone-item_first{
    padding-right: 40px;
}

.navbar__burger {
    transition: 0s .25s ease;
}