@import "__vars.scss";
@import "__viewport.scss";

.ico{
    font-size: inherit;
}

.ico--mail svg{
    top: 2px;
    position: relative;
}

.ico--phone svg{
    width: 13px;
    height: 14px;
    margin-right: 10px;
}

.ico--mail svg{
    width: 13px;
    height: 14px;
    margin-right: 10px;
}

.ico--arrow-left svg{
     left:24px;
    @include mq('tablet-wide',max){
        left: 18px;
    }
}

.ico--arrow-right svg{
    right:24px;
    @include mq('tablet-wide',max){
        right: 18px;
    }
}

.ico--arrow-left svg,
.ico--arrow-right svg,
.ico--arrow-bottom svg{
    width: 8px;
    height: 12px;
    fill:$white;
    position: absolute;
    top: 25px;
    @include mq('tablet-wide',max){
        top:19px;
    }
}

.ico--arrow-bottom svg{
    width: 15px;
    height: 12px;
    position: absolute;
    top: 27px;
    left: 22px;
}

.ico--arrow-more{
    padding-left: 50px;
    @include mq('tablet-wide',max){
        padding-left: 25px;
    }
    @include mq('desktop',max){
        padding-left: 25px;
    }
    @include mq('tablet-wide',max){
        padding-left: 10px;
    }
}

.ico--arrow-more svg{
    width: 18px;
    height: 18px;
    
    @include mq('tablet-wide',max){
        width: 10px;
        height: 10px;
    }
}

.ico--breadcrumbs{
   padding-right: 15px;
}

.ico--breadcrumbs svg{
    fill: $white;
    width: 7px;
    height: 10px;
}

.ico--arrow-dropdown{}

.ico--arrow-dropdown svg{
    fill: $black;
    width: 7px;
    height:10px;
}

.ico--file{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 200px;
    background-color: $black;
    position: relative;
    transition: 0.5s ease all;
    @include mq('tablet-wide', max){
        width: 40px;
        height: 40px;
    }
}

.ico--file svg{
    width: 15px;
    height: 15px;
    fill: white;
    position: absolute;
    top: 39%;
    left: 38%;
    @include mq('tablet-wide', max){
        top: 34%;
        left: 33%;
    }    
}

.ico--marker svg{
    position: relative;
    top:3px;
    width: 16px;
    height: 16px;
    fill: $red;
}

.ico--video-play svg{
    width: 16px;
    height: 16px;
    fill: #fff;
    transform: rotate(-90deg);
    position: relative;
    top: 2px;
    left: 2px;
}