@import "__vars.scss";
@import "__viewport.scss";

.fixture{
    @include mq('tablet-wide',max){
        padding: 50px 0px;
    }
}

.fixture-description{
    color:$red;
    font-size: 1.25rem;
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 900px;
    @include mq('tablet-wide',max){
        margin-top: 32px;
        margin-bottom: 60px;
        font-size: 15px;
        font-weight: 500;
    }
}

.scroll-button{
    padding: 10px 50px;
    margin-bottom: 70px;
    @include mq('tablet-wide',max){
        display: none;
    }
}

.fixture-list-outer{
    display: flex;
    margin-bottom: 105px;
    @include mq('tablet-wide', max){
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
}

.fixture-list{
    @include mq('tablet-wide', min){
        flex: 0 0 50%;
    }
    @include mq('tablet-wide', max){
        flex: 0 0 100%;
        order: 2;
        margin-top: 32px;
    }
}

.fixture-house{
    position: relative;
    @include mq('tablet-wide', min){
        flex: 0 0 50%;
        margin-left: 45px;
    }
    @include mq('tablet-wide', max){
        flex: 0 0 100%;
        order: 1;
    }
}

.fixture-house__dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:2px solid $white;
    position: absolute;
    border-radius: 50px;
    cursor:pointer;
    transition: 0.2s ease all;
}

.fixture-house__dot--yellow{
    background-color: $yellow;
}

.fixture-house__dot--brown{
    background-color: #9e5323;
}


.fixture-hover{
    transform: scale(1.1,1.1);
}

i.fixture-hover{
    transform: scale(1.3,1.3);
}

.fixture__main-text{
    max-width: 900px;
    margin-top: 105px;
    margin-bottom: 49px;
    @include mq('tablet-wide',max){
        margin-top: 65px;
    }
    @include mq('tablet-wide',min){
        margin-bottom: 200px;
    }
}