@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";
.main-menu{
    display: flex;
    justify-content: space-between;
}

.main-menu__item{
    font-size: 0.75em;
    border-bottom: 2px solid transparent;
    padding-bottom:33px;
    text-transform: uppercase;
    margin-right: 29px;
    @include mq('desktop-wide',min){
        font-size: 0.875rem;
    }
}

.main-menu__item:last-child{
    margin-right: 0px;
}

.main-menu__item:hover{
    border-bottom:2px solid $red;
    cursor: default;
}

.main-menu__item,.main-menu__item a{
    color: $white;
    text-decoration: none;
    letter-spacing: .03rem;
    @include mq('desktop-wide',min){
        font-weight: 500;
    }
}

.main-menu__item a{
    cursor: pointer;
}

.main-menu__submenu{
    position: fixed;
    visibility: hidden;
    top:120px;
    left: 0px;
    background:$black;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease all .5s;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    @include mq('desktop',max){
        top: 111px;
    }
}

.main-menu__item:hover .main-menu__submenu{
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    z-index: 8000;
    top:120px;
}

.page--header-fixed .main-menu__item:hover .main-menu__submenu{
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    z-index: 8000;
    top:80px;
}

.main-menu__level-1{
    display: flex;
    width: 100%;
    @include mq('desktop-wide', min){
    }
}

.main-menu__level-2-wrapper{
    margin: auto;
}

.main-menu__level-2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 67px;
    -moz-column-gap: 67px;
    column-gap: 67px;
    -webkit-column-rule: 1px solid transparent;
    -moz-column-rule: 1px solid transparent;
    column-rule: 1px solid transparent;
    padding-bottom: 44px;
}

.main-menu__tip{
    font-size: 1rem;
    color:$dark-grey;
    margin-bottom: 14px;
    display: inline-block;
    letter-spacing: 1.2px;
    padding-top: 30px;
    text-transform: capitalize;
}

.main-menu__submenu a{
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 0.875rem;
    line-height: 32px;
    letter-spacing: .03rem;
    transition: 0.5s ease all;
    text-transform: uppercase;
}

.main-menu__submenu a:hover{
    color:$red;
    position: relative;
}

.main-menu__submenu a:hover::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 10px;
    background-image: url(../svg/icon_arrow_right_small.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -20px;
    top: 3px;

}