@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";

.mobile-menu{
    @include mq('tablet-wide',min){
        display: none;
    }
}

.mobile-menu--active .burger__l:first-child{
    visibility: hidden;
}

.mobile-menu--active .burger__l:nth-child(2){
    transform: rotate(45deg);
}

.mobile-menu--active .burger__l:nth-child(3){
    transform: rotate(-45deg);
    top:-6px;
}

.mobile-menu a{
    text-decoration: none;
    color:$white;
    text-transform: uppercase;
}

.mobile-menu-level1{
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
    background: $black;
    padding: 20px;
    display: none;
    opacity: 0;
    z-index: 100;
    transform: translate(0px,-100px);
    transition: 0.5s ease all;
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

.mobile-menu--active .mobile-menu-level1{
    display: block;
    transform: translate(0px,0px);
    opacity: 1;
}

.mobile-menu-level1__item,.mobile-menu-level1__item>a{
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 2.625rem;
    letter-spacing: 1.1px;
    position: relative;
    width: 105%;
    display: block;
    @include mq-landscape('desktop', max){
        width: 103%;
    }
}

.mobile-menu-collapse{
    position: absolute;
    right: 0;
    top:-4px;
}

.mobile-menu-collapse i{
    height: 2px;
    width: 12px;
    color: $red;
    background: $red;
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 25px;
}

.mobile-menu-collapse i:first-child{
    transform: rotate(90deg);
}

.mobile-menu-level1--active > .mobile-menu-level2{
    display: block;
}

.mobile-menu-level1--active .mobile-menu-collapse i:nth-child(1){
    display: none;
}

.mobile-menu__tip{
    padding: 15px 0px;
    color:$dark-grey;
    font-size: 0.75rem;
    display: block;
}

.mobile-menu-level2{
    display: none;
    padding-left: 20px;
}

.mobile-menu-level2>ul>li>a{
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.9px;
    padding-bottom: 10px;
    display: inline-block;
}

.mobile-menu-info{
    margin:60px 0px; 
}

.mobile-menu-info__item,.mobile-menu-info__item a{
    color: white;
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.125rem;
    font-weight: bold;
    text-decoration: none;
}

.mobile-menu-info__item:first-child{
    margin-bottom: 20px;
}
