@import "__viewport.scss";
@import "__vars.scss";

.politics{
    @include mq('tablet-wide',max){
        margin-bottom: 20px;
    }
}

.politics--margined{
    padding: 20px 0px;
}

.politics p{
    font-size: 14px;
    color: $dark-grey;
}

.politics a{
    color: $black;
}

.politics a:hover{
    color: $black;
}