@import "__viewport.scss";
@import "__vars.scss";

.product__image{
    max-width:500px; 
}

.product__mobile-heading{
    @include mq('tablet-wide',min){
        display: none;
    }
    margin: 40px 0px;
}


.product__desktop-heading{
    @include mq('tablet-wide',max){
        display: none;
    }
}

.product__image img{
    display: block;
    width: 100%;
    height: auto;
}

.product__scheme-title{
    margin-top: 48px;
    margin-bottom: 30px;
    font-weight: bold;
    color:$dark-grey;
}

.product__scheme{
    margin-bottom: 50px;
}

.product__order-btn-outer{
    @include mq('tablet-wide', max){
        text-align: center;
    }
}

.product__order-btn{
    margin: 40px 0px;
}

.product__text-table-caption{
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 13px;
    text-transform: uppercase;
    padding-left: 13px;
}

.product__text-table-outer{
    margin-top: 95px;
}

.product__text-table-item{
    margin-bottom: 80px;
}

.product__text-table-item ul{
    list-style: none;
    margin-top: 35px;
    padding-left: 35px;
    line-height: 28px;
}

.product__text-table-item li{
    font-size: 18px;
    display: flex;
    margin-bottom: 23px;
}

.product__text-table-item ul li::before{
    content: '';
    width: 7px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    flex: 0 0 2%;
    background-image: url(../svg/icon_arrow_right_small.svg);
    margin-right: 19px;
    position: relative;
    top: 8px;
}

.product__about-text{
    margin-top: 200px;
}

.product__img-copyrights{
    max-width: 266px;
    height: auto;
}