@import "__vars";
@import "__viewport";
@import "__fonts";

.product-row{
    border: 2px solid $light-grey;
    transition: 0.2s ease all;
    padding: 20px 10px;
    @include mq('tablet-wide', max){
        margin-bottom: 20px;
    }
    @include mq('tablet-wide',min){
        margin-bottom: 60px;
        max-height: 320px;
        padding: 35px 20px;
    }
}

.product-row:hover{
    border-color:$black;
}


.product-row>a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    color: $black;
    text-decoration: none;
}

.product-row__thumb{
    @include mq('tablet-wide',max){
        flex: 0 0 40%;   
    }
    @include mq('phablet', max){
        flex: 0 0 35%;
    }
    @include mq('tablet-wide',min){
        flex: 0 0 150px;
    }
    @include mq('desktop',min){
        flex: 0 0 200px;   
    }
    @include mq('desktop-wide',min){
        flex: 0 0 250px;   
    }
}

.product-row__thumb img{
    max-width: 100%;
}

.product-row__short-props{
    @include mq('tablet-wide',max){
        flex: 0 0 55%;   
    }
    @include mq('phablet', max){
        flex: 0 0 60%;
    }
    @include mq('tablet-wide',min){
        flex: 0 0 240px;   
        margin-left: 20px;
    }
    @include mq('desktop-wide',min){
        flex: 0 0 260px;
    }
}

.product-row__article{
    font-size: 16px;
    font-weight: bold;
    color: $red;
    font-family: 'Roboto';
    @include mq('tablet-wide',max){
        font-size: 10px;
    }
}

.product-row__title{
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing:1px;
    text-transform: uppercase;
    font-family: 'Roboto';
    @include mq('tablet-wide',max){
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 10px;
    }
}

.product-row__title{
    text-decoration: none;
    color:$black;
    @include mq('tablet-wide',min){
        max-height: 108px;
        height: 108px;
        overflow: hidden;
    }
}

.product-row__scheme{
    @include mq('tablet-wide',max){ 
        max-width: 100px;
    }
    max-height: 120px;
    max-width: 100%;
}