@import "__viewport.scss";
@import "__vars.scss";

.product__image{
    max-width:500px; 
}

.product__mobile-heading{
    @include mq('tablet-wide',min){
        display: none;
    }
    margin: 40px 0px;
}


.product__desktop-heading{
    @include mq('tablet-wide',max){
        display: none;
    }
}

.product__image img{
    display: block;
    max-width: 500px;
    height: auto;
    margin: auto;
    @include mq('tablet-wide', max){
        max-width: 100%;
    }
}

@media (min-height: 600px) and (max-height: 800px) and (min-width: 400px){
    .product__image img {
        max-width: 55vh;
    }
}

.product__scheme-title{
    margin-top: 48px;
    margin-bottom: 30px;
    font-weight: bold;
    color:$dark-grey;
    @include mq('tablet-wide',max){
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.product__scheme{
    margin-bottom: 50px;
    @include mq('tablet-wide', max){
        margin-bottom: 40px;
    }
}

.product__scheme-icon-outer{
    display: flex;
    justify-content: baseline;
    margin-bottom: 15px;
}

.product__scheme-icon{
    flex: 0 0 33.3%;
    max-width: 65px;
    margin-right: 40px;
    @include mq('tablet-wide',max){
        flex: 0 0 100%;
    }
    &:last-child{
        margin-right: 0px;
    }
}

.product__scheme-text{
    font-size: 13px;
    padding-top: 10px;
    display: inline-block;
}

.product__order-btn-outer{
    @include mq('tablet-wide', max){
        text-align: center;
    }
}

.product__order-btn{
    letter-spacing: 1.6px;
    @include mq('tablet-wide', min){
        margin: 40px 0px;
    }
}

.product__text-table-caption{
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 13px;
    text-transform: uppercase;
    @include mq('tablet-wide', min){
        padding-left: 13px;        
    }
}

.product__text-table-outer{
    @include mq('tablet-wide', min){
        margin-top: 95px;   
    }
    margin-top: 80px;
}

.product__text-table-item{
    margin-bottom: 80px;
}

.product__text-table-item ul{
    list-style: none;
    margin-top: 25px;
    line-height: 25px;
    @include mq('tablet-wide', min){
        padding-left: 35px;
        margin-top: 35px;
        line-height: 28px;
    }
}

.product__about-text{
    margin: 80px auto;
    @include mq('tablet-wide', min){
        margin-top: 200px;
        margin-bottom: 0px;
    }
    @include mq('tablet-wide', max){
        padding: 0px 19px 0px 21px;
        width: 100%;
    }
}

.product__img-copyrights{
    max-width: 266px;
    height: auto;
    @include mq('tablet-wide', max){
        margin-top: 80px;
    }
}