@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";

.projects__item{
    margin-bottom: 20px;
    @include mq('tablet-wide',min){
        margin-bottom: 70px;   
    }
}

.projects__heading{
    text-transform: uppercase;
    margin-top: 20px;
}

.projects__description{
    color: $dark-grey;
}

.projects__location{
    @include mq('tablet-wide',min){
        margin-top: 50px;
    }
    @include mq('tablet-wide',max){
        margin-top: 20px;
    }
}