@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";

.properties-table{
    
}

.properties-table__item{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 14px;
    display: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.properties-table__item thead tr{
    border-bottom: none;
}

.properties-table__item th{
    padding: 12px 0px;
    color:$white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.properties-table__item tr{
    font-size: 16px;
    border-bottom: 2px solid $light-grey;
}

.properties-table__item td{
    padding: 15px 0px;
    font-size: 16px;
    text-align: center;
}

.properties-table__button{
    font-weight: bold;
    text-transform: inherit;
    padding: 19px 27px;
    color: black;
    background: $white;
    border: $light-grey 2px solid;
    margin-right: 10px;
    transition: 0.4s ease all;
    @include mq('tablet-wide',min){
        max-width: 262px;
    }
    @include mq('desktop-wide',min){
        max-width: 304px;
        font-size: 16px;
        min-height: 100px;
    }
    @include mq('tablet-wide',max){
        width: 100%;
        margin-bottom: 10px;
    }
}

.properties-table__button:nth-child(4){
    margin-right: 0px;
}

.properties-table__button:hover{
    border-color: $black;
}

.properties-table__button--active{
    background-color: $redhover;
    color:$white;
    border: $redhover 2px solid;
}

.properties-table__button--active:hover{
    border-color: $redhover;
}
