@import "__vars.scss";
@import "_h.scss";

$headerH: 120px;
$buttonSpace: 100px;

.swiper-container {
    width: 100%;
    height: calc( 100vh - #{$headerH} - #{$buttonSpace} );
    @include mq-landscape('tablet-wide', max){
        height: calc( 100vh - #{$headerH});
    }
}

.swiper-inner:before{
    content: '';
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 20;
}

.swiper-inner{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination__button-next, .pagination__button-prev {
    position: absolute;
    top: 50%;
    margin-top: -22px;
}

.pagination__button-prev{
    left: 50px;
    right: auto;
    @include mq('tablet', max){
        left: 57%;
        top: 74%;
    }
}

.pagination__button-next{
    right: 50px;
    left: auto;
        @include mq('tablet', max){
        right: 25px;
        top: 74%;
    }
}

.slide-heading{
    @include mq('tablet', max){
        line-height: 2.25rem;
        font-size: 2rem;
        letter-spacing: 0.7px;
        margin-bottom: 36px;
        width: 40%;
        display: block;
    }
    @include mq-landscape('tablet-wide',max){
        margin-bottom: 16px;
    }
}

.slide-content{
    padding: 144px 20px 0px 20px;
    position: relative;
    z-index: 50;
    @include mq('desktop-wide',min){
        padding-top:249px;
    }
    
    @include mq-landscape('tablet-wide',max){
        padding: 20px;
    }
}

.slide-text{
    color: $white;
    margin-bottom: 50px;
    font-size: 20px;
    @include mq('tablet', max){
        font-size: 0.875rem;
    }
    @include mq-landscape('tablet-wide',max){
        margin-bottom: 20px;
    }
}

.pagination__bullet{
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50px;
    border:white 2px solid;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease all;
    margin-right: 20px;
}

.swiper-pagination{
    bottom: 50px!important;
    left: -50px!important;
    text-align: right!important;
    @include mq('tablet-wide',max){
        display: none;
    }
}

.pagination__bullet:hover{
    border: 2px solid transparent;
    background: $red;
}

.pagination__bullet--active{
    border: 2px solid transparent;
    background: $red;
}