@import "__vars.scss";
@import "_h.scss";
@import "__viewport.scss";

$headerH: 120px;
$buttonSpace: 100px;

.main-slider--first{
    margin-top: $header-height;

    &::before {
        display: block;
        content: ' ';
        position: absolute;
        width: 100%;
        height:  $header-height;
        background: $header-bg;
        transform: translateY(-100%);
        @include mq('tablet-wide',max){
            height: 65px;
        }
    }
}

.swiper-container {
    width: 100%;
    height: calc( 100vh - #{$headerH} - #{$buttonSpace} );
    @include mq('tablet-wide', max){
        height: calc( 100vh - #{$headerH});
    }
    @include mq-landscape('tablet-wide',max){
        height: calc(100vh - 80px);
    }
    @include mq-landscape('tablet',max){
        height: calc(100vh - 100px);
    }
    @include mq-landscape('tablet-small',max){
        height: calc(100vh - 55px);
    }
}

.swiper-inner:before{
    content: '';
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 20;
}

.swiper-inner{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination__button-next, .pagination__button-prev {
    position: absolute;
    top: 50%;
    margin-top: -22px;
}

.pagination__button-prev{
    left: 50px;
    right: auto;
    @include mq('desktop', max){
        right: 100px;
        left:unset;
        top: unset;
        bottom:40px;
    }
    @include mq('tablet-wide',max){
        right: 80px;
    }
    @include mq-landscape('desktop', max){
        bottom:20px;
    }
}

.pagination__button-next{
    right: 50px;
    left: auto;
    @include mq('desktop', max){
        right: 20px;
        left:unset;
        top: unset;
        bottom:40px;
    }
    @include mq-landscape('desktop', max){
        bottom:20px;
    }
}

.slide-heading{
    width: 100%;
    font-size: 57px;
    @include mq('tablet', max){
        line-height: 2.25rem;
        font-size: 1.6rem;
        letter-spacing: 0.7px;
        margin-bottom: 20px;
        display: block;
    }
    @include mq-landscape('tablet-wide',max){
        line-height: 2.25rem;
        font-size: 1.7rem;
        letter-spacing: 0.7px;
        margin-bottom: 16px;
        width: 90%;
    }
    @include mq-landscape('tablet-small',max){
        font-size: 1.7rem;
    }
}

.slide-content{
    position: relative;
    z-index: 50;
    @include mq('desktop',max){
        width: 80%;
        margin:auto;
    }
    @include mq('tablet-small', max){
        padding: 20px;
        position: absolute;
        bottom: 5%;
    }
    @include mq('tablet-wide', max){
        padding: 20px;
        position: absolute;
        bottom: 0;
        padding-bottom: 40px;
    }
    @include mq-landscape('tablet-wide',max){
        padding: 20px;
    }
    @include mq('tablet-wide', min){
        top:calc(50% - 95px);
        /*        width: 75%;*/
        width:800px;
    }
}

.slide-text{
    color: $white;
    margin-bottom: 50px;
    font-size: 20px;
    @include mq('tablet', max){
        font-size: 0.875rem;
    }
    @include mq-landscape('tablet-wide',max){
        margin-bottom: 20px;
    }
}

.main-slider__button-more{
    @include mq('tablet-wide', max){
        letter-spacing: 1.6px;
        max-height: 50px;
    }
}

.main-slider__button-more-inner{
    display: flex;
    align-items: center;
}

.pagination__bullet{
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50px;
    border:white 2px solid;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease all;
    margin-right: 20px;
}

.swiper-pagination{
    bottom: 50px!important;
    left: -50px!important;
    text-align: right!important;
    @include mq('desktop',max){
        display: none;
    }
}

.pagination__bullet:hover{
    border: 2px solid transparent;
    background: $red;
}

.pagination__bullet--active{
    border: 2px solid transparent;
    background: $red;
}