@import "__vars.scss";
@import "__viewport.scss";

.svg-symbol--icon_phone {
    fill: $red;
}

.svg-symbol--icon_mail{
    fill: $red;
}

.svg-symbol--icon_arrow_bottom{
    fill: $white;
}

.svg-symbol--icon_arrow_next{
    color:white;
    fill:white;
}