@import "__vars";
@import "__viewport.scss";
@import "__fonts.scss";

.tech-doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

.tech-doc__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid $light-grey;
    margin-bottom: 30px;
    @include mq('desktop-wide',min){
        margin-bottom: 50px;
    }
    @include mq-landscape('phablet',min){
        flex: 0 0 48%;
    }
}

.tech-doc__item-img{
    @include mq('tablet-wide',max){
        flex: 0 0 100%;
    }
    @include mq('tablet-wide',min){
        flex: 0 0 30%;
    }
    
}

.tech-doc__item-descr{
    @include mq('tablet-wide',max){
        margin-top: 20px;
        flex: 0 0 100%;
    }
    @include mq('tablet-wide',min){
        flex: 0 0 55%;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.tech-doc__item-descr h3{
    @include mq('desktop-wide',max){
        margin: 20px 0px;
    }
}