@import "__vars.scss";
@import "__fonts.scss";

.text__content{
    max-width: 800px;
    margin: auto;
}

.text__content p{
    margin-bottom: 50px;
}

.text__content ul, .text__content ol{
    margin-bottom: 50px;
}

.text__content img{
    max-width: 100%;
    display: block;
    height: auto;
}

.text__content a{
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: $black;
    padding-bottom: 3px;
    border-bottom: 2px solid $red;
}

.text__content a:hover{
    border-bottom-color: $black;
}

.text__content h2{
    margin-bottom: 70px;
}

.text__content h3{
    margin-bottom: 36px;
}

.text__content h4{
    margin-bottom: 34px;
}