.breadcrumbs__item {
  color: #fff;
  font-weight: bold; }

.breadcrumbs {
  overflow-x: hidden; }
  @media only screen and (min-width: 1024px) {
    .breadcrumbs {
      padding: 0px 0px 50px 0px; } }

.breadcrumbs__inner {
  width: 100%;
  position: relative;
  z-index: 250;
  padding: 28px; }
  @media only screen and (max-width: 1023px) {
    .breadcrumbs__inner {
      padding: 23px 21px; } }

@media only screen and (max-width: 1023px) {
  .breadcrumbs__inner .container {
    margin: 0px; } }

.breadcrumbs__inner a {
  color: #fff;
  display: flex;
  text-decoration: none; }

@media only screen and (min-width: 1024px) {
  .breadcrumbs__inner::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -75%;
    width: 100%;
    background-color: #fff;
    z-index: 500;
    height: 88px; } }
