.contact-form {
  margin-bottom: 120px; }
  @media only screen and (max-width: 1023px) {
    .contact-form {
      margin-bottom: 60px;
      margin-top: 30px; } }

.contact-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 55px; }
  @media only screen and (max-width: 1023px) {
    .contact-form__form {
      margin-top: 30px; } }

.contact-form__form--modal {
  margin-top: 20px;
  display: block; }

.contact-form__input {
  padding: 16px 0px 16px 27px;
  color: black;
  border: 2px solid #e1e2e6;
  font-size: 16px;
  display: block;
  width: 100%;
  line-height: 26px;
  outline: none; }

.contact-form__input--inline {
  display: inline-block;
  margin-right: 20px;
  padding: 11px 0px 13px 27px; }

.contact-form__label {
  display: block;
  margin-bottom: 30px;
  position: relative; }

.contact-form__label--inline {
  display: inline-block;
  padding-right: 20px;
  width: 40%; }
  @media only screen and (max-width: 1023px) {
    .contact-form__label--inline {
      display: block;
      width: 100%; } }

.contact-form__input:focus {
  border-color: #231f20; }

.contact-form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #231f20; }

.contact-form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #231f20; }

.contact-form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #231f20; }

.contact-form__input:-moz-placeholder {
  /* Firefox 18- */
  color: #231f20; }

.contact-form__input--textarea {
  height: 245px;
  overflow: hidden; }
