.fixture-item {
  border: solid 2px #e6e6e6;
  padding: 5px 0px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s ease all; }

.fixture-item a {
  text-decoration: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  color: inherit; }
  @media only screen and (max-width: 1023px) {
    .fixture-item a {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between; } }
  .fixture-item a:hover {
    color: inherit; }

.fixture-list__description-outer {
  flex: 0 0 60%;
  text-align: left;
  display: flex;
  align-items: center; }

.fixture-item__bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  border: none;
  background: #e1e2e6;
  flex: 0 0 20px;
  margin: 0px 19px; }
  @media only screen and (max-width: 1023px) {
    .fixture-item__bullet {
      display: inline-block;
      vertical-align: middle; } }

.fixture-item__description {
  display: inline-block; }
  @media only screen and (max-width: 1023px) {
    .fixture-item__description {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      max-width: 44%;
      min-width: 44%; } }

.fixture-item__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px; }
  @media only screen and (max-width: 1023px) {
    .fixture-item__title {
      font-size: 14px;
      line-height: 18px; } }
  @media only screen and (max-width: 479px) {
    .fixture-item__title {
      font-size: 10px;
      line-height: 14px; } }

.fixture-item__title--for {
  color: #999999;
  font-size: 16px; }
  @media only screen and (max-width: 1023px) {
    .fixture-item__title--for {
      font-size: 14px;
      line-height: 18px; } }
  @media only screen and (max-width: 479px) {
    .fixture-item__title--for {
      font-size: 10px;
      line-height: 14px; } }

.fixture-item__img {
  display: block;
  flex: 0 0 30%;
  max-height: 59px;
  max-width: 152px; }
  @media only screen and (max-width: 1023px) {
    .fixture-item__img {
      display: inline-block;
      width: 30%;
      vertical-align: middle;
      margin-right: 19px;
      flex: 0 0 30%;
      text-align: right; } }

.fixture-item__bullet--yellow {
  background-color: #fecd08; }

.fixture-item__bullet--orange {
  background-color: #ff9700; }

.fixture-item__bullet--brown {
  background-color: #9e5323; }

.fixture-item__bullet--grey {
  background-color: #999999; }

.fixture-item__bullet--red {
  background-color: #f22c2c; }

.fixture-item__bullet--blue {
  background-color: #0169a9; }

.fixture-item__bullet--green {
  background-color: #008945; }

.fixture-item__bullet--aqua {
  background-color: #34acc4; }
