footer {
  overflow-x: hidden;
  background: white;
  margin-top: 250px; }

footer .black-bg {
  margin-top: 50px; }

.footer-container {
  padding: 100px 0px 66px 0px;
  display: flex; }
  @media only screen and (max-width: 1023px) {
    .footer-container {
      flex-wrap: wrap;
      padding-top: 60px; } }

.footer-text__heading {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 0.875rem;
  text-transform: uppercase; }

.footer-text__paragraph {
  color: #fff;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 30px;
  letter-spacing: .03rem; }

.footer-text__paragraph span {
  display: block; }

.footer-workhours {
  margin-top: 28px;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  letter-spacing: 0.5px; }

footer {
  position: relative; }

.footer-proff-choice {
  padding: 8px 40px;
  color: #fff;
  background: #231f20; }

.footer-proff-choice--mobile {
  padding: 8px 0px; }

.footer__text-block {
  flex: 0 0 20%;
  margin-right: 5%;
  max-height: 300px;
  /*        flex: 0 0 23%;*/ }
  @media only screen and (max-width: 1023px) {
    .footer__text-block {
      flex: 0 0 100%;
      margin-right: 0px; } }

.footer__text-block--contacts {
  flex: 0 0 35%; }
  @media only screen and (max-width: 1247px) {
    .footer__text-block--contacts {
      flex: 0 0 41%; } }

.footer__text-block--empty {
  flex: 0 0 5%; }

.footer__text-block:nth-child(4) {
  margin-right: 0px; }

.footer__text-block:nth-child(4) {
  margin-right: 0px; }

.footer__text-block_pinnedlogo {
  position: relative;
  display: table;
  width: 9000px;
  top: -150px;
  min-height: 400px; }
  @media only screen and (max-width: 1023px) {
    .footer__text-block_pinnedlogo {
      display: none; } }

.footer-logo-red-inner {
  background: #f22c2c;
  padding: 40px;
  min-height: 360px; }

.footer-logo-img {
  position: absolute;
  bottom: 50px; }
  @media only screen and (max-width: 1247px) {
    .footer-logo-img {
      max-width: 224px; } }

.copyright {
  color: #fff;
  padding-bottom: 66px;
  font-size: 0.875rem; }

.politics {
  padding-left: 30px; }
  @media only screen and (max-width: 1023px) {
    .politics {
      display: block;
      padding: 0px; } }

.politics, .politics a {
  color: #999999;
  text-decoration: none; }

.devby {
  float: right; }
  @media only screen and (max-width: 1023px) {
    .devby {
      float: none; } }

.devby-ico {
  padding-left: 8px; }

@media only screen and (min-width: 1024px) {
  .footer-mobile-logo {
    display: none; } }

.footer-mobile-logo-img {
  width: 60%; }

.footer-mobile-logo-red-inner {
  background: #f22c2c;
  padding: 190px 20px 20px 20px; }
  @media only screen and (max-width: 1023px) {
    .footer-mobile-logo-red-inner {
      padding: 190px 0px 20px 0px; } }
