@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_medium.eot");
  src: url("../fonts/futura/futura_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_medium.woff2") format("woff2"), url("../fonts/futura/futura_medium.woff") format("woff"), url("../fonts/futura/futura_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_bold.eot");
  src: url("../fonts/futura/futura_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_bold.woff2") format("woff2"), url("../fonts/futura/futura_bold.woff") format("woff"), url("../fonts/futura/futura_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background: #231f20;
  color: white;
  transition: .2s;
  z-index: 8000; }
  @media only screen and (max-width: 1023px) {
    .header {
      height: 65px; } }

.header--unpinned {
  height: 80px; }
  @media only screen and (max-width: 1023px) {
    .header--unpinned {
      height: 65px; } }

.header__wrapper {
  padding: 0 2rem;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 1023px) {
    .header__wrapper {
      padding: 0px 20px; } }

.header__layout {
  display: flex;
  align-items: stretch;
  height: 100%; }
  @media only screen and (max-width: 1023px) {
    .header__layout {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; } }

.header__logo-box {
  display: flex;
  align-items: center;
  background: #231f20;
  width: 200px;
  flex-shrink: 0; }
  @media only screen and (max-width: 1023px) {
    .header__logo-box {
      width: 160px; } }

.header__logo {
  width: 100%;
  transform: translate3d(0, 0, 0); }

.header__bars {
  flex-basis: 100%;
  align-self: flex-end;
  height: 120px; }
  @media only screen and (max-width: 1023px) {
    .header__bars {
      display: none; } }

.header__menu-bar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center; }

.header__menu {
  padding: 0 30px;
  width: 100%;
  flex: 0 0 79%; }

.header__menu-items {
  /*  background: #888;*/
  width: 100%;
  height: 15px; }

.header__top-bar {
  margin-top: 15px;
  width: 100%; }

.header__buttons {
  height: 100%;
  display: flex;
  align-items: center; }

.header-outer {
  height: 120px;
  background: #231f20; }

.header-description, .header-description a {
  color: #fff;
  margin-bottom: 43px;
  font-size: 1rem;
  text-align: right;
  font-weight: bold;
  text-decoration: none; }

.header-phones-cta {
  text-align: right;
  position: relative;
  transition: 0.5s ease all;
  top: 0px;
  flex: 1 0 27%; }
  @media only screen and (max-width: 1099px) {
    .header-phones-cta {
      flex: 1 0 18%; } }
  @media only screen and (max-width: 1023px) {
    .header-phones-cta {
      display: none; } }

.header__phone {
  margin-bottom: 7px;
  flex: 0 0 100%;
  text-align: right;
  transition: 0.3s ease all; }
  @media only screen and (max-width: 1023px) {
    .header__phone {
      display: none; } }

@media only screen and (max-width: 1023px) {
  .header-phones-cta .button {
    display: none; } }

.header__phone-item {
  padding-left: 20px; }

.header__phone-item, .header__phone-item a {
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

.header__phone-item_first {
  padding-right: 40px; }

.navbar__burger {
  transition: 0s .25s ease; }
