.ico {
  font-size: inherit; }

.ico--mail svg {
  top: 2px;
  position: relative; }

.ico--phone svg {
  width: 13px;
  height: 14px;
  margin-right: 10px; }

.ico--mail svg {
  width: 13px;
  height: 14px;
  margin-right: 10px; }

.ico--arrow-left svg {
  left: 24px; }
  @media only screen and (max-width: 1023px) {
    .ico--arrow-left svg {
      left: 18px; } }

.ico--arrow-right svg {
  right: 24px; }
  @media only screen and (max-width: 1023px) {
    .ico--arrow-right svg {
      right: 18px; } }

.ico--arrow-left svg,
.ico--arrow-right svg,
.ico--arrow-bottom svg {
  width: 8px;
  height: 12px;
  fill: #fff;
  position: absolute;
  top: 25px; }
  @media only screen and (max-width: 1023px) {
    .ico--arrow-left svg,
    .ico--arrow-right svg,
    .ico--arrow-bottom svg {
      top: 19px; } }

.ico--arrow-bottom svg {
  width: 15px;
  height: 12px;
  position: absolute;
  top: 27px;
  left: 22px; }

.ico--arrow-more {
  padding-left: 50px; }
  @media only screen and (max-width: 1023px) {
    .ico--arrow-more {
      padding-left: 25px; } }
  @media only screen and (max-width: 1099px) {
    .ico--arrow-more {
      padding-left: 25px; } }
  @media only screen and (max-width: 1023px) {
    .ico--arrow-more {
      padding-left: 10px; } }

.ico--arrow-more svg {
  width: 18px;
  height: 18px; }
  @media only screen and (max-width: 1023px) {
    .ico--arrow-more svg {
      width: 10px;
      height: 10px; } }

.ico--breadcrumbs {
  padding-right: 15px; }

.ico--breadcrumbs svg {
  fill: #fff;
  width: 7px;
  height: 10px; }

.ico--arrow-dropdown svg {
  fill: #231f20;
  width: 7px;
  height: 10px; }

.ico--file {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 200px;
  background-color: #231f20;
  position: relative;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all; }
  @media only screen and (max-width: 1023px) {
    .ico--file {
      width: 40px;
      height: 40px; } }

.ico--file svg {
  width: 15px;
  height: 15px;
  fill: white;
  position: absolute;
  top: 39%;
  left: 38%; }
  @media only screen and (max-width: 1023px) {
    .ico--file svg {
      top: 34%;
      left: 33%; } }

.ico--marker svg {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  fill: #f22c2c; }

.ico--video-play svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: 2px;
  left: 2px; }

.ico--fancy_arrow_right svg {
  fill: white;
  width: 20px;
  height: 20px; }

.ico--fancy_arrow_left svg {
  fill: white;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }
