@media only screen and (max-width: 1023px) {
  .fixture {
    padding: 50px 0px; } }

.fixture-description {
  color: #f22c2c;
  font-size: 1.25rem;
  margin-bottom: 100px;
  margin-top: 50px;
  max-width: 900px; }
  @media only screen and (max-width: 1023px) {
    .fixture-description {
      margin-top: 32px;
      margin-bottom: 60px;
      font-size: 15px;
      font-weight: 500; } }

.scroll-button {
  padding: 10px 50px;
  margin-bottom: 70px; }
  @media only screen and (max-width: 1023px) {
    .scroll-button {
      display: none; } }

.fixture-list-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 105px; }
  @media only screen and (max-width: 1023px) {
    .fixture-list-outer {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 0px; } }

@media only screen and (min-width: 1024px) {
  .fixture-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }

@media only screen and (max-width: 1023px) {
  .fixture-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 32px; } }

.fixture-house {
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .fixture-house {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      margin-left: 45px; } }
  @media only screen and (max-width: 1023px) {
    .fixture-house {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

.fixture-house__dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.fixture-house__dot--yellow {
  background-color: #fecd08; }

.fixture-house__dot--brown {
  background-color: #9e5323; }

.fixture-hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1); }

i.fixture-hover {
  -webkit-transform: scale(1.6, 1.6);
          transform: scale(1.6, 1.6); }

.fixture__main-text {
  max-width: 900px;
  margin-top: 105px;
  margin-bottom: 49px; }
  @media only screen and (max-width: 1023px) {
    .fixture__main-text {
      margin-top: 65px; } }
  @media only screen and (min-width: 1024px) {
    .fixture__main-text {
      margin-bottom: 200px; } }

.fixture__main-text .files-list {
  margin-top: 50px; }
