@media only screen and (max-width: 1023px) {
  .politics {
    margin-bottom: 20px; } }

.politics--margined {
  padding: 20px 0px; }

.politics p {
  font-size: 14px;
  color: #999999; }

.politics a {
  color: #231f20; }

.politics a:hover {
  color: #231f20; }

.politics--centered {
  text-align: center;
  width: 100%;
  margin-bottom: 30px; }
