@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_medium.eot");
  src: url("../fonts/futura/futura_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_medium.woff2") format("woff2"), url("../fonts/futura/futura_medium.woff") format("woff"), url("../fonts/futura/futura_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_bold.eot");
  src: url("../fonts/futura/futura_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_bold.woff2") format("woff2"), url("../fonts/futura/futura_bold.woff") format("woff"), url("../fonts/futura/futura_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.product-row {
  border: 2px solid #e1e2e6;
  transition: 0.2s ease all;
  padding: 20px 10px; }
  @media only screen and (max-width: 1023px) {
    .product-row {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .product-row {
      margin-bottom: 60px;
      max-height: 320px;
      padding: 35px 20px; } }

.product-row:hover {
  border-color: #231f20; }

.product-row > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #231f20;
  text-decoration: none; }

@media only screen and (max-width: 1023px) {
  .product-row__thumb {
    flex: 0 0 40%; } }

@media only screen and (max-width: 559px) {
  .product-row__thumb {
    flex: 0 0 35%; } }

@media only screen and (min-width: 1024px) {
  .product-row__thumb {
    flex: 0 0 150px; } }

@media only screen and (min-width: 1248px) {
  .product-row__thumb {
    flex: 0 0 200px; } }

@media only screen and (min-width: 1440px) {
  .product-row__thumb {
    flex: 0 0 250px; } }

.product-row__thumb img {
  max-width: 100%; }

@media only screen and (max-width: 1023px) {
  .product-row__short-props {
    flex: 0 0 55%; } }

@media only screen and (max-width: 559px) {
  .product-row__short-props {
    flex: 0 0 60%; } }

@media only screen and (min-width: 1024px) {
  .product-row__short-props {
    flex: 0 0 240px;
    margin-left: 20px; } }

@media only screen and (min-width: 1440px) {
  .product-row__short-props {
    flex: 0 0 260px; } }

.product-row__article {
  font-size: 16px;
  font-weight: bold;
  color: #f22c2c;
  font-family: 'Roboto'; }
  @media only screen and (max-width: 1023px) {
    .product-row__article {
      font-size: 10px; } }

.product-row__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto'; }
  @media only screen and (max-width: 1023px) {
    .product-row__title {
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 10px; } }

.product-row__title {
  text-decoration: none;
  color: #231f20; }
  @media only screen and (min-width: 1024px) {
    .product-row__title {
      max-height: 108px;
      height: 108px;
      overflow: hidden; } }

.product-row__scheme {
  max-height: 120px;
  max-width: 100%; }
  @media only screen and (max-width: 1023px) {
    .product-row__scheme {
      max-width: 100px; } }
