.svg-symbol--icon_phone {
  width: 13px;
  height: 14px;
  fill: #f22c2c;
  margin-right: 10px; }

.svg-symbol--icon_mail {
  width: 13px;
  height: 14px;
  fill: #f22c2c;
  margin-right: 10px; }

.svg-symbol--icon_arrow_left,
.svg-symbol--icon_arrow_right,
.svg-symbol--icon_arrow_bottom {
  width: 8px;
  height: 12px;
  fill: #fff;
  position: absolute;
  top: 25px; }
  @media only screen and (max-width: 1023px) {
    .svg-symbol--icon_arrow_left,
    .svg-symbol--icon_arrow_right,
    .svg-symbol--icon_arrow_bottom {
      top: 14px; } }

.svg-symbol--icon_arrow_left {
  left: 24px; }
  @media only screen and (max-width: 1023px) {
    .svg-symbol--icon_arrow_left {
      left: 14px; } }

.svg-symbol--icon_arrow_right {
  right: 24px; }
  @media only screen and (max-width: 1023px) {
    .svg-symbol--icon_arrow_right {
      right: 14px; } }

.svg-symbol--icon_arrow_bottom {
  width: 15px;
  height: 12px;
  fill: #fff;
  position: absolute;
  top: 36px;
  left: 32px; }

.svg-symbol--icon_arrow_next {
  width: 18px;
  height: 18px;
  color: white;
  fill: white; }
  @media only screen and (max-width: 1023px) {
    .svg-symbol--icon_arrow_next {
      width: 10px;
      height: 10px; } }
