.svg-symbol--icon_phone {
  fill: #f22c2c; }

.svg-symbol--icon_mail {
  fill: #f22c2c; }

.svg-symbol--icon_arrow_bottom {
  fill: #fff; }

.svg-symbol--icon_arrow_next {
  color: white;
  fill: white; }
