@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_medium.eot");
  src: url("../fonts/futura/futura_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_medium.woff2") format("woff2"), url("../fonts/futura/futura_medium.woff") format("woff"), url("../fonts/futura/futura_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futura_bold.eot");
  src: url("../fonts/futura/futura_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura_bold.woff2") format("woff2"), url("../fonts/futura/futura_bold.woff") format("woff"), url("../fonts/futura/futura_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.text__content {
  max-width: 800px;
  margin: auto; }

.text__content p {
  margin-bottom: 50px; }

.text__content ul, .text__content ol {
  margin-bottom: 50px; }

.text__content img {
  max-width: 100%;
  display: block;
  height: auto; }

.text__content a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #231f20;
  padding-bottom: 3px;
  border-bottom: 2px solid #f22c2c; }

.text__content a:hover {
  border-bottom-color: #231f20; }

.text__content h2 {
  margin-bottom: 70px; }

.text__content h3 {
  margin-bottom: 36px; }

.text__content h4 {
  margin-bottom: 34px; }
